.card-container {
    height: 300px;
    min-width: 500px;
    display: flex;
    overflow: auto;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(174, 168, 168);
  }

  .card-container.alt {
    height: 350px;
    min-width: 300px;
    flex-direction: column;
  
    border-width: 2px;
    border-style: solid;
    border-color: rgb(174, 168, 168);
  }
  
  .content {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(25px, 75px);
    padding: 0 20px;
  }

  .content.alt {
    width: auto;
  }
  
  .content-main {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
  }

  .content-main.alt {
    grid-row-end: 3;
  }

  .content-avatar {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .content-avatar.alt {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .content-author {
    grid-column-start: 2;
    grid-column-end: 5;
  }
  
  .content-icon {
    grid-column-start: 5;
    grid-column-end: 6;
  }
  
  .content-author h3,
  .content-author p {
    margin: 0;
    padding: 2px 0;
  }
  
  .card-container img {
    width: 30%;
    object-fit: cover;
  }

  .card-container img.alt {
    height: 40%;
  }

  .content-avatar img {
    width: 50px;
    height: fit-content;
    border-radius: 50px;
  }

  .content-icon img {
    width: auto;
    height: 50px;
  }
  
  .star {
    margin-top: 1.1rem;
    opacity: 0.7;
}