.app-container {
  padding: 1rem;
  max-width: 1500px;
}

.container {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
}

.upper {
  grid-template-columns: repeat(2, 1fr);
}

.lower {
  grid-template-columns: repeat(3, 1fr);
}
